###### Requirements without Version Specifiers ######`
django
tayuya
SpeechRecognition 
requests
pandas
madmom #allows reading of music files and outputs locations of beats
###### Requirements with Version Specifiers : Eg : docopt == 0.6.1  ######`
